#root {
  padding: 2rem;
  text-align: center;
}

#productsSection {
  margin-bottom: 150px;
  margin-top: 70px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.card {
  padding: 2em;
}

.search-bar {
  @apply w-full transition-all duration-300 rounded-full border border-gray-500 hover:border-brandBlue px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900;
}
